{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">Objective of Machine Learning Hub</h2>
									<div style="text-align: justify;">
										Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy. Machine Learning is one of the hottest research topics in computer science and engineering which is applicable in many disciplines. It provides a collection of algorithms, methods and tools capable of embodying some kind of intelligence to machines. This project aims to club together different ML applications under one roof to demonstrate the wide scope of this domain in medical diagnosis, email filtering, recommendation systems or future price prediction of commodities, chatbots, natural language processing among many others. It uses Flask for Frontend Development and Python at the backend for Machine Learning models.


									</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">Unique Selling Points</h6>
									<h2 class="title-01__title">What Makes Us Stand Out</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-cup"></i></div>
									<div>
										<h2 class="iconbox__title"><a>Numerous ML Application under one Roof</a></h2>
										<div class="iconbox__description">We club together different ML applications under one hood to demonstrate its wide scope in numerous domain.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-crown"></i></div>
									<div>
										<h2 class="iconbox__title"><a>Variety of Domains </a></h2>
										<div class="iconbox__description">We demonstrate the real-time utility of Machine Learning applications under various domains like health, fashion, movies, properties price, etc</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-world"></i></div>
									<div>
										<h2 class="iconbox__title"><a>Code Visibility</a></h2>
										<div class="iconbox__description">
											The project has a view code module which outlines the detailed step by step process of model building. This module provides a learning pathway for the individuals keen to venture in the world of data science and learn about the ML algorithms along with their applications.
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-shine"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Visualisation Feature</a></h2>
										<div class="iconbox__description">The visualisation feature demonstrates graphically how different independent features of the dataset affect the dependent target value and represents the correlation among the attributes.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

				
				<!-- Our partner-->
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 >Tech Stack</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- carousel__element owl-carousel -->
						<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":2},"768":{"items":3},"992":{"items":5}}}'>
							<!--  -->
							<div>
								<div><img src="../static/img/techstack/python.png" alt="" style="height:140px; width:130px; padding-top: 5%; " /></div>
							</div><!-- End /  -->

							<!--  -->
							<div>
								<div class=""><img src="../static/img/techstack/flask.png" alt=""/></div>
							</div><!-- End /  -->
							
							
							<!--  -->
							<div>
								<div class=""><img src="../static/img/techstack/tensorflow.png" alt=""/></div>
							</div><!-- End /  -->
							
							
							<!--  -->
							<div>
								<div class=""><img src="../static/img/techstack/html.png" alt=""/></div>
							</div><!-- End /  -->
							
							<!--  -->
							<div>
								<div><img src="../static/img/techstack/css.png" alt="" style="height:140px; width:100px;" /></div>
							</div><!-- End /  -->
							
						</div><!-- End / carousel__element owl-carousel -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->


{% endblock body %}