{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}

	<!-- Content-->
	<div class="md-content">
		<!-- Section -->
				<section class="md-section md-skin-dark js-consult-form" style="background-image:url(&quot;../static/img/backgrounds/1.jpg&quot;);">
					<div class="md-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">

								<!-- title-01 -->
								<div class="title-01 title-01__style-02">
									<h2 class="title-01__title" style="font-weight:bolder; font-size: 420%">Reach Out to Us</h2>
								</div><!-- End / title-01 -->

								<div class="consult-phone" style="font-weight:bolder;">(0562) 242 2323 777</div>
							</div>
						</div>

						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content">
							<h2 class="form-01__title">Give Us Your Feedback</h2>
							<form class="form-01__form">
								<div class="form__item form__item--02">
									<input type="text" name="name" placeholder="Your name"/>
								</div>
								<div class="form__item form__item--02">
									<input type="text" name="phone" placeholder="Your Email"/>
								</div>
								<div class="form__item">
									<textarea rows="3" name="Your message" placeholder="Your message"></textarea>
								</div>
								<div class="form__button"><a class="btn btn-primary btn-w180" href="#">send message</a>
								</div>
							</form>
						</div><!-- End / form-01 -->

					</div>
				</section>
				<!-- End / Section -->

					<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">

								<!-- iconbox -->
								<div class="iconbox">
									<div>
										<h2 class="iconbox__title"><a>Professional Network</a></h2>
									</div>
								</div><!-- End / iconbox -->

							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3 ">

								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-github"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="https://github.com/Rashi1999">Github</a></h2>
										<div class="iconbox__description">github.com/Rashi1999</div>
									</div>
								</div><!-- End / iconbox -->

							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">

								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-linkedin"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="https://www.linkedin.com/in/1999rashi">LinkedIn</a></h2>
										<div class="iconbox__description">linkedin.com/in/1999rashi</div>
									</div>
								</div><!-- End / iconbox -->

							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">

								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-instagram"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="https://www.instagram.com/improve_vocab_with_rashi/">Instagram</a></h2>
										<div class="iconbox__description">instagram.com/improve_vocab_with_rashi</div>
									</div>
								</div><!-- End / iconbox -->

							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">

								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-email"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Gmail</a></h2>
										<div class="iconbox__description">1999rashi@gmail.com</div>
									</div>
								</div><!-- End / iconbox -->

							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
	</div>


{% endblock body %}