{% extends 'base.html' %}

{% block title %} Bengaluru House Price {% endblock title %}

{% block body %}

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7; padding-bottom:35%">
					<div class="container">

						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Bengaluru House Price</h2>
									<div style="text-align:justify">
										We propose to implement a house price prediction model of Bangalore, India. Housing prices fluctuate on a daily basis and are sometimes exaggerated rather than based on worth. The major focus of this project is on predicting home prices using genuine factors. Here, we intend to base an evaluation on every basic criterion that is taken into account when establishing the pricing.
									</div>
								</div><!-- End / title-01 -->
							</div>
						</div>

						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content" >
							<h2 class="form-01__title">Enter the House Requirements</h2>
							<form method="post" id="formhouseprice">
<!--								ROW 1-->
							  <div class="row">
								<div class="col">
									<label for="locations">Location</label>
								  	<select class="select-picker form-picker" id="locations"  name="locations" required>
										{% for location in locations %}
											<option value="{{ location }}">{{ location }}</option>
										{% endfor %}
									</select>
									<small class="text-muted ">
									  Select your location from the dropdown menu
									</small>
								</div>
								<div class="col">
									<label for="bhk">Bedroom-Hall-Kitchen</label>
								  	<input class="form-control" placeholder="No. of BHK" type="number" id="bhk" name="bhk" min="1" max="10" required>
									<small class="text-muted">
									  Select the no. of BHK. [min=1 and max=10]
									</small>
								</div>
							  </div>

							<br>
							<br>

<!--						Row 2-->
							<div class="row">
								<div class="col">
									<label for="bath">Bathrooms</label>
								 	 <input class="form-control" type="number" id="bath" name="bath" placeholder="No. of Bathrooms" min="1" max="10" required>
									<small class="text-muted">
										Select the no. of bathrooms [min=1 and max=10]
									</small>
								</div>
								<div class="col">
									<label for="sqft">Total square feet</label>
								  	<input class="form-control" type="text" id="sqft" name="sqft" placeholder="Total square feet" required>
									<small class="text-muted">
									  Total square feet
									</small>
								</div>
							  </div>

							  <br>
							  <br>

<!--						Row 3-->

							  <div class="form__button">
								<button class="btn btn-primary btn-w180" onclick="send_data()">Predict</button>
							  	<button class="btn btn-primary btn-w180" type="reset"  onclick="clear_lines()">Clear</button>
							  </div>

							</form>
						</div><!-- End / form-01 -->
					</div>
				</section>
				<!-- End / Section -->


				<!-- Section -->
				<section class="md-section" style="margin-top:-6rem;margin-bottom:-9rem;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								<!-- title-01 -->
								<div class="title-01 title-01__style-05">
									<h6 class="title-01__subTitle" id="title_pred_house_price"></h6>
									<h2 class="title-02__title" id="txt2"></h2>
									<h2 class="title-01__title" id="predicted_house_value" style="color:#f39c12;"></h2>
								</div><!-- End / title-01 -->
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->


<script>
		function form_handler(event){
			event.preventDefault();
		}

		function send_data(){
			document.getElementById("formhouseprice").addEventListener("submit", form_handler);
			var houseFormData=new FormData(document.getElementById("formhouseprice"));
			var xhr=new XMLHttpRequest();
			xhr.open('POST', '/predict_houseprice', true);
			document.getElementById("txt2").innerHTML="The estimated house price is, ";
			document.getElementById("title_pred_house_price").innerHTML="Predicted House Price";
			document.getElementById("predicted_house_value").innerHTML="Waiting....";
			xhr.onreadystatechange= function(){
				if(xhr.readyState == XMLHttpRequest.DONE){
					document.getElementById("predicted_house_value").innerHTML="₹" + xhr.responseText;
				}
			};

			xhr.onload = function(){};
			xhr.send(houseFormData);
		}

		function clear_lines(){
			document.getElementById("txt2").innerHTML="";
			document.getElementById("title_pred_house_price").innerHTML="";
			document.getElementById("predicted_house_value").innerHTML="";
		}
</script>

{% endblock body %}