{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

			<!-- Content-->
			<div class="md-content">
				
				<!-- slider -->
				<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 3000}'>
						<div class="slider__item" style="background-image: url('../static/img/home3.png');">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container" style="margin-top:-10em;">
											<h2 style="font-weight:bolder">ML Application Hub</h2>
											<p>A web application demonstrating various applications of Machine Learning in different domains.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slider__item" style="background-image: url('../static/img/home2.jpeg');">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container" style="margin-top:-10em;">
											<h2 style="font-weight:bolder">ML Application Hub</h2>
											<p>A web application demonstrating various applications of Machine Learning in different domains.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				
				<!-- Service-->
				
				<!-- Section 1-->
				<section class="md-section" style="background-color:lightgrey;padding-bottom:-10em;">
					<div class="container" style="margin-bottom:-20em;">
						<div class="textbox-group">
							<div class="row">
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/classification.png" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="project.html">Classification</a></h2>
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/regression.jpeg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="/project.html">Regression</a></h2>
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/recommend.jpeg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="project.html">Recommendation Engine</a></h2>
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/nlp.png" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="project.html">NLP</a></h2>
										</div>
									</div><!-- End / textbox -->

								</div>
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/chatbot.png" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="project.html">Chatbot</a></h2>
										</div>
									</div><!-- End / textbox -->

								</div>
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="project.html"><img src="../static/img/services/DL.jpeg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="project.html">Deep Learning</a></h2>
										</div>
									</div><!-- End / textbox -->

								</div>
							</div><!--			Row 1 ends				-->

						</div>
					</div>
				</section>
				<!-- End / Section 1 -->


				<!-- About-->
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-03 md-text-left">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">MACHINE LEARNING</h2>
									<div style="text-align: justify">
										Machine learning (ML) is a type of artificial intelligence (AI) that allows software applications to become more accurate at predicting outcomes without being explicitly programmed to do so. Machine learning algorithms use historical data as input to predict new output values.
									</div>
									<br>
									<div style="text-align: justify">
										Machine learning is important because it gives enterprises a view of trends in customer behavior and business operational patterns, as well as supports the development of new products. Many of today's leading companies, such as Facebook, Google and Uber, make machine learning a central part of their operations. Machine learning has become a significant competitive differentiator for many companies.
									</div>
									<br>
									<div style="text-align: justify">
										Classical machine learning is often categorized by how an algorithm learns to become more accurate in its predictions. There are four basic approaches:supervised learning, unsupervised learning, semi-supervised learning and reinforcement learning. The type of algorithm data scientists choose to use depends on what type of data they want to predict.
									</div>
									<br>
									<div style="text-align: justify">
										Applications of ML
										<li>Social media services</li>
										<li>Email spam and malware filtering </li>
										<li>Search engine result refining</li>
										<li>Online fraud detection </li>
										<li>Medicine</li>
										<li>Computational biology </li>
										<li>Recommendation Engines</li>
									</div>
								</div><!-- End / title-01 -->
								

							</div>
							<div class="col-lg-6 ">
								<div class="js-consult-slider">
									
									<!-- carousel__element owl-carousel -->
									<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":30,"responsive":{"0":{"items":2},"576":{"items":3},"992":{"items":1}}}'>
										<div class="image-full">
											<img src="../static/img/ml-img1.jpeg" alt="">
										</div>
										<div class="image-full">
											<img src="../static/img/ml-img2.jpeg" alt="">
										</div>
									</div><!-- End / carousel__element owl-carousel -->
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- Contact us-->
				

				
				<!-- What’s Client Say ?-->
				
				<!-- Section -->
				<section class="md-section consult-background" style="padding-bottom:0;"  >
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01" style="margin-bottom:50px;">
									<h2 class="title-01__title">Machine Learning Models</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="consult-slide">
							
							<!-- carousel__element owl-carousel -->
							<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>
								
								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info">
										<h5 class="testimonial__name">Naive Baye's</h5>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">
											Naive Bayes classifiers are a collection of classification algorithms based on Bayes’ Theorem. It is not a single algorithm but a family of algorithms where all of them share a common principle, i.e. every pair of features being classified is independent of each other.
										</div>
									</div>
								</div><!-- End / testimonial -->

								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info">
										<h5 class="testimonial__name">Random Forest</h5>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">
											Random Forest is an ensemble technique capable of performing both regression and classification tasks with the use of multiple decision trees and a technique called Bootstrap and Aggregation, commonly known as bagging. Random Forest has multiple decision trees as base learning models.
										</div>
									</div>
								</div><!-- End / testimonial -->

								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info">
										<h5 class="testimonial__name">SVM</h5>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">
											A Support Vector Machine (SVM) is a discriminative classifier formally defined by a separating hyperplane. In other words, given labeled training data (supervised learning), the algorithm outputs an optimal hyperplane which categorizes new examples.  The dimension of the hyperplane depends upon the number of features.
										</div>
									</div>
								</div><!-- End / testimonial -->

								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info">
										<h5 class="testimonial__name">Logistic Regression</h5>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">
											Logistic regression is one of the most popular Machine Learning algorithms, which comes under the Supervised Learning technique. It is used for predicting the categorical dependent variable using a given set of independent variables. The sigmoid function is a mathematical function used to map the predicted values to probabilities.
										</div>
									</div>
								</div><!-- End / testimonial -->
								
								

								
							</div><!-- End / carousel__element owl-carousel -->
							
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- Our partner-->
				

				
				<!-- Latest Blogs -->
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Machine Learning Blogs</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- carousel__element owl-carousel -->
						<div class="carousel__element owl-carousel" data-options='{"loop":false,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>
							
							<!--  -->
							<div>
								<div class="post-01__media"><a href="https://www.machinelearningisfun.com/"><img src="../static/img/blogs/mlisfun.png" alt=""/></a>
								</div>
								<div>
									<h2 class="post-01__title"><a href="https://www.machinelearningisfun.com/">Machine Learning Is Fun</a></h2>
									<div class="post-01__time">Authored by: </div>
									<div class="post-01__note">Adam Geitgey</div>
								</div>
							</div><!-- End /  -->

							<!--  -->
							<div>
								<div class="post-01__media"><a href="https://towardsdatascience.com/an-overview-of-resnet-and-its-variants-5281e2f56035"><img src="../static/img/blogs/resnet.jpeg" alt=""/></a>
								</div>
								<div>
									<h2 class="post-01__title"><a href="https://towardsdatascience.com/an-overview-of-resnet-and-its-variants-5281e2f56035">An Overview of ResNet and its Variants</a></h2>
									<div class="post-01__time">Authored by: </div>
									<div class="post-01__note">Vincent Feng</div>
								</div>
							</div><!-- End /  -->

							<!--  -->
							<div>
								<div class="post-01__media"><a href="https://www.geeksforgeeks.org/best-python-libraries-for-machine-learning/"><img src="../static/img/blogs/toolsml.jpeg" alt=""/></a>
								</div>
								<div>
									<h2 class="post-01__title"><a href="https://www.geeksforgeeks.org/best-python-libraries-for-machine-learning/">Python libraries for Machine Learning</a></h2>
									<div class="post-01__time">Authored by: </div>
									<div class="post-01__note">GeeksforGeeks</div>
								</div>
							</div><!-- End /  -->

							<!--  -->
							<div>
								<div class="post-01__media"><a href="https://www.tensorflow.org/resources/learn-ml/basics-of-machine-learning?gclid=CjwKCAjwquWVBhBrEiwAt1KmwqBcxK_eUt13TOdbGsSnQhAv6dKDJ16h5_2xxpFJgt6dCL4fvdgIvRoC4sUQAvD_BwE"><img src="../static/img/blogs/tensorflow.jpeg" alt=""/></a>
								</div>
								<div>
									<h2 class="post-01__title"><a href="https://www.tensorflow.org/resources/learn-ml/basics-of-machine-learning?gclid=CjwKCAjwquWVBhBrEiwAt1KmwqBcxK_eUt13TOdbGsSnQhAv6dKDJ16h5_2xxpFJgt6dCL4fvdgIvRoC4sUQAvD_BwE">Basics of machine learning with TensorFlow</a></h2>
									<div class="post-01__time">Authored by: </div>
									<div class="post-01__note">TensorFlow</div>
								</div>
							</div><!-- End /  -->
							
						</div><!-- End / carousel__element owl-carousel -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->

{% endblock body %}
