{% extends 'base.html' %}

{% block title %} Movie Recommendation Engine{% endblock title %}

{% block body %}

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7; padding-bottom: 30%;">
					<div class="container">

						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Movies Recommendation Engine</h2>
									<div style="text-align: justify;">Recommender systems encompass a class of techniques and algorithms that can suggest “relevant” items to users. They predict future behavior based on past data through a multitude of techniques. Recommender systems help to personalize a platform and help the user find something they like. Content-based methods are based on the similarity of movie attributes. Using this type of recommender system, if a user watches one movie, similar movies are recommended.  </div>
								</div><!-- End / title-01 -->
							</div>
						</div>

						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content">
							<h2 class="form-01__title">Select a Movie of your choice</h2>
							<form method="post" id="movieform">
								<div class="form__item ">
									<label for="movielist">Movie</label>
								  	<select class="select-picker form-picker" id="movielist"  name="movielist" required>
										{% for movie in movieList %}
											<option value="{{ movie }}">{{ movie }}</option>
<!--										<option value="b">b</option>-->
										{% endfor %}
									</select>
								</div>

								<div class="form__button">
								<button class="btn btn-primary btn-w180" onclick="send_data()">Predict</button>
							  	<button class="btn btn-primary btn-w180" type="reset"  onclick="clear_movies()">Clear</button>
							  </div>
							</form>
						</div><!-- End / form-01 -->

					</div>
				</section>
				<!-- End / Section -->

				<!-- Section -->
				<section class="md-section " style="background-color:#C0C9CC;">
					<div class="container">

						<h6 class="title-01__subTitle" id="movietitle" style="color:black; text-align: center;"></h6>
						<div class="row" style="display:none;" id="recommendation">

								<div class="col-md-4 col-lg-4 ">
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image">
											<img id="mov_img1" alt=""/>
										</div>
										<div class="textbox__body">
											<h2 id="mov_name1" class="textbox__title"></h2>
										</div>
									</div><!-- End / textbox -->
								</div>

								<div class="col-md-4 col-lg-4 ">
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image">
											<img id="mov_img2" alt=""/>
										</div>
										<div class="textbox__body">
											<h2 id="mov_name2" class="textbox__title"></h2>
										</div>
									</div><!-- End / textbox -->
								</div>

								<div class="col-md-4 col-lg-4 ">
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image">
											<img id="mov_img3" alt=""/>
										</div>
										<div class="textbox__body">
											<h2 id="mov_name3" class="textbox__title"></h2>
										</div>
									</div><!-- End / textbox -->
								</div>

								<div class="col-md-4 col-lg-4 ">
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image">
											<img id="mov_img4" alt=""/>
										</div>
										<div class="textbox__body">
											<h2 id="mov_name4" class="textbox__title"></h2>
										</div>
									</div><!-- End / textbox -->
								</div>

								<div class="col-md-4 col-lg-4 ">
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image">
											<img id="mov_img5" alt=""/>
										</div>
										<div class="textbox__body">
											<h2 id="mov_name5" class="textbox__title"></h2>
										</div>
									</div><!-- End / textbox -->
								</div>

							</div><!--			Row 1 ends				-->

					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->

	<script>
		function form_handler(event){
			event.preventDefault();
		}

		function send_data(){
			document.getElementById("movieform").addEventListener("submit", form_handler);
			var movieFormData=new FormData(document.getElementById("movieform"));
			var rows=document.getElementById("recommendation");
			if (rows.style.display == "none") {
				rows.style.display = "flex";
		  	}

		  	var xhr=new XMLHttpRequest();
			xhr.open('POST', '/recommend_movie', true);
			xhr.onreadystatechange= function(){
				if(xhr.readyState == XMLHttpRequest.DONE){
					var suggested_movies=JSON.parse(xhr.responseText).recommended_movie_names;
					var posters=JSON.parse(xhr.responseText).recommended_movie_posters;
					document.getElementById("movietitle").innerHTML = "Recommended movies"
					document.getElementById("mov_name1").innerHTML=suggested_movies[0];
					document.getElementById("mov_name2").innerHTML=suggested_movies[1];
					document.getElementById("mov_name3").innerHTML=suggested_movies[2];
					document.getElementById("mov_name4").innerHTML=suggested_movies[3];
					document.getElementById("mov_name5").innerHTML=suggested_movies[4];
					document.getElementById("mov_img1").src=posters[0];
					document.getElementById("mov_img2").src=posters[1];
					document.getElementById("mov_img3").src=posters[2];
					document.getElementById("mov_img4").src=posters[3];
					document.getElementById("mov_img5").src=posters[4];
				}
			};

			xhr.onload = function(){};
			xhr.send(movieFormData);


	  	}
		function clear_movies(){
			var rows=document.getElementById("recommendation");
			if (rows.style.display == "flex") {
				rows.style.display = "none";
				document.getElementById("movietitle").innerHTML = ""
		  	}
		}


	</script>


{% endblock body %}